In [1]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
import yfinance as yf

In [2]:
symbol = 'ETH-USD'
data=yf.Ticker(symbol)
df = data.history(period='1d' , start='2020-01-01')
df['Date'] = df.index
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date
Date,,,,,,,,
2020-01-01 00:00:00+00:00,129.630661,132.835358,129.198288,130.802002,7935230330,0.0,0.0,2020-01-01 00:00:00+00:00
2020-01-02 00:00:00+00:00,130.820038,130.820038,126.954910,127.410179,8032709256,0.0,0.0,2020-01-02 00:00:00+00:00
2020-01-03 00:00:00+00:00,127.411263,134.554016,126.490021,134.171707,10476845358,0.0,0.0,2020-01-03 00:00:00+00:00
2020-01-04 00:00:00+00:00,134.168518,136.052719,133.040558,135.069366,7430904515,0.0,0.0,2020-01-04 00:00:00+00:00
2020-01-05 00:00:00+00:00,135.072098,139.410202,135.045624,136.276779,7526675353,0.0,0.0,2020-01-05 00:00:00+00:00
...,...,...,...,...,...,...,...,...
2024-01-04 00:00:00+00:00,2210.529053,2294.608154,2204.865723,2269.038086,11044564896,0.0,0.0,2024-01-04 00:00:00+00:00
2024-01-05 00:00:00+00:00,2269.409424,2276.764648,2209.537109,2268.647217,10860953290,0.0,0.0,2024-01-05 00:00:00+00:00
2024-01-06 00:00:00+00:00,2269.540039,2271.359375,2219.781982,2241.624756,5970741680,0.0,0.0,2024-01-06 00:00:00+00:00
2024-01-07 00:00:00+00:00,2242.012695,2257.127930,2211.562500,2222.865967,6490053615,0.0,0.0,2024-01-07 00:00:00+00:00
2024-01-08 00:00:00+00:00,2222.857666,2234.195801,2176.899658,2216.301270,8943368192,0.0,0.0,2024-01-08 00:00:00+00:00

In [3]:
x = df.copy()
x

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date
Date,,,,,,,,
2020-01-01 00:00:00+00:00,129.630661,132.835358,129.198288,130.802002,7935230330,0.0,0.0,2020-01-01 00:00:00+00:00
2020-01-02 00:00:00+00:00,130.820038,130.820038,126.954910,127.410179,8032709256,0.0,0.0,2020-01-02 00:00:00+00:00
2020-01-03 00:00:00+00:00,127.411263,134.554016,126.490021,134.171707,10476845358,0.0,0.0,2020-01-03 00:00:00+00:00
2020-01-04 00:00:00+00:00,134.168518,136.052719,133.040558,135.069366,7430904515,0.0,0.0,2020-01-04 00:00:00+00:00
2020-01-05 00:00:00+00:00,135.072098,139.410202,135.045624,136.276779,7526675353,0.0,0.0,2020-01-05 00:00:00+00:00
...,...,...,...,...,...,...,...,...
2024-01-04 00:00:00+00:00,2210.529053,2294.608154,2204.865723,2269.038086,11044564896,0.0,0.0,2024-01-04 00:00:00+00:00
2024-01-05 00:00:00+00:00,2269.409424,2276.764648,2209.537109,2268.647217,10860953290,0.0,0.0,2024-01-05 00:00:00+00:00
2024-01-06 00:00:00+00:00,2269.540039,2271.359375,2219.781982,2241.624756,5970741680,0.0,0.0,2024-01-06 00:00:00+00:00
2024-01-07 00:00:00+00:00,2242.012695,2257.127930,2211.562500,2222.865967,6490053615,0.0,0.0,2024-01-07 00:00:00+00:00
2024-01-08 00:00:00+00:00,2222.857666,2234.195801,2176.899658,2216.301270,8943368192,0.0,0.0,2024-01-08 00:00:00+00:00

In [4]:
forecast = 5
df['Prediction']=df[['Close']].shift(-forecast)
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date,Prediction
Date,,,,,,,,,
2020-01-01 00:00:00+00:00,129.630661,132.835358,129.198288,130.802002,7935230330,0.0,0.0,2020-01-01 00:00:00+00:00,144.304153
2020-01-02 00:00:00+00:00,130.820038,130.820038,126.954910,127.410179,8032709256,0.0,0.0,2020-01-02 00:00:00+00:00,143.543991
2020-01-03 00:00:00+00:00,127.411263,134.554016,126.490021,134.171707,10476845358,0.0,0.0,2020-01-03 00:00:00+00:00,141.258133
2020-01-04 00:00:00+00:00,134.168518,136.052719,133.040558,135.069366,7430904515,0.0,0.0,2020-01-04 00:00:00+00:00,138.979202
2020-01-05 00:00:00+00:00,135.072098,139.410202,135.045624,136.276779,7526675353,0.0,0.0,2020-01-05 00:00:00+00:00,143.963776
...,...,...,...,...,...,...,...,...,...
2024-01-04 00:00:00+00:00,2210.529053,2294.608154,2204.865723,2269.038086,11044564896,0.0,0.0,2024-01-04 00:00:00+00:00,NaN
2024-01-05 00:00:00+00:00,2269.409424,2276.764648,2209.537109,2268.647217,10860953290,0.0,0.0,2024-01-05 00:00:00+00:00,NaN
2024-01-06 00:00:00+00:00,2269.540039,2271.359375,2219.781982,2241.624756,5970741680,0.0,0.0,2024-01-06 00:00:00+00:00,NaN
2024-01-07 00:00:00+00:00,2242.012695,2257.127930,2211.562500,2222.865967,6490053615,0.0,0.0,2024-01-07 00:00:00+00:00,NaN
2024-01-08 00:00:00+00:00,2222.857666,2234.195801,2176.899658,2216.301270,8943368192,0.0,0.0,2024-01-08 00:00:00+00:00,NaN

In [5]:
x = x[['Close' , 'Volume']]
x

                                 Close       Volume
Date
2020-01-01 00:00:00+00:00   130.802002   7935230330
2020-01-02 00:00:00+00:00   127.410179   8032709256
2020-01-03 00:00:00+00:00   134.171707  10476845358
2020-01-04 00:00:00+00:00   135.069366   7430904515
2020-01-05 00:00:00+00:00   136.276779   7526675353
...                                ...          ...
2024-01-04 00:00:00+00:00  2269.038086  11044564896
2024-01-05 00:00:00+00:00  2268.647217  10860953290
2024-01-06 00:00:00+00:00  2241.624756   5970741680
2024-01-07 00:00:00+00:00  2222.865967   6490053615
2024-01-08 00:00:00+00:00  2216.301270   8943368192

[1469 rows x 2 columns]

In [6]:
x= x[:-forecast]
x

                                 Close       Volume
Date
2020-01-01 00:00:00+00:00   130.802002   7935230330
2020-01-02 00:00:00+00:00   127.410179   8032709256
2020-01-03 00:00:00+00:00   134.171707  10476845358
2020-01-04 00:00:00+00:00   135.069366   7430904515
2020-01-05 00:00:00+00:00   136.276779   7526675353
...                                ...          ...
2023-12-30 00:00:00+00:00  2292.065430   6888195427
2023-12-31 00:00:00+00:00  2281.471191   6871481744
2024-01-01 00:00:00+00:00  2352.327881   6906765990
2024-01-02 00:00:00+00:00  2355.836426  12910543630
2024-01-03 00:00:00+00:00  2210.761963  19332933581

[1464 rows x 2 columns]

In [7]:
x = np.array(x)
x

array([[1.30802002e+02, 7.93523033e+09],
       [1.27410179e+02, 8.03270926e+09],
       [1.34171707e+02, 1.04768454e+10],
       ...,
       [2.35232788e+03, 6.90676599e+09],
       [2.35583643e+03, 1.29105436e+10],
       [2.21076196e+03, 1.93329336e+10]])

In [8]:
y= np.array(df['Prediction'])
y=y[:-forecast]
y

array([ 144.30415344,  143.54399109,  141.25813293, ..., 2241.62475586,
       2222.8659668 , 2216.30126953])

In [11]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [12]:
lr=LinearRegression()
lr.fit(xtrain,ytrain)

LinearRegression()

In [13]:
lrconf=lr.score(xtest,ytest)
print('LR confidence: ',lrconf)

LR confidence:  0.9788815494290398

In [14]:

lrpred= lr.predict(x[-forecast:])
print('LR Method Predictions : ' ,lrpred)

LR Method Predictions :  [2285.42508848 2275.05403253 2344.40546112 2348.82539317 2207.8996928 ]