In [12]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('foolad.csv')
df=df[['Close']]
df

      Close
0     19880
1     19130
2     19530
3     20550
4     21330
...     ...
2960   1898
2961   1934
2962   1973
2963   1938
2964   1900

[2965 rows x 1 columns]

In [13]:
forecast=5
df['Prediction']=df[['Close']].shift(-forecast)
df

      Close  Prediction
0     19880     20550.0
1     19130     19600.0
2     19530     18670.0
3     20550     17860.0
4     21330     17560.0
...     ...         ...
2960   1898         NaN
2961   1934         NaN
2962   1973         NaN
2963   1938         NaN
2964   1900         NaN

[2965 rows x 2 columns]

In [24]:
x = np.array(df.drop(['Prediction'], axis=1))
x= x[:-forecast]
y= np.array(df['Prediction'])
y=y[:-forecast]

In [26]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2)
mysvr = SVR(kernel='rbf',C=1000,gamma=0.1)
mysvr.fit(xtrain,ytrain)
svconf = mysvr.score(xtrain,ytrain)
print('svm confidence ',svconf)

svm confidence  0.3443331640995836

In [27]:
lr = LinearRegression()
lr.fit(xtrain,ytrain)
lrconf = lr.score(xtest,ytest)
print('LR confidence: ',lrconf)

LR confidence:  0.9836526966170422

In [30]:
x_forecast = np.array(df.drop(['Prediction'],axis=1))[-forecast:]
lrprediction = lr.predict(x_forecast)
print('LR Method: ',lrprediction)
print('----------------------')
svmpredict = mysvr.predict(x_forecast)
print('svm Method: ',svmpredict)

LR Method:  [1938.92938984 1973.1196983  2010.15919914 1976.91862147 1940.82885142]
----------------------
svm Method:  [1909.36929537 1924.09953982 2151.96777599 2029.25088634 1908.15842832]