In [2]:
import pandas as pd
import numpy as np

In [10]:
data = np.array(['k','a','s','r','a'])
se = pd.Series(data,index=['one','two','three','four','five'])
print(se)
print()
print(se.values)
print()
print(se.index)

one      k
two      a
three    s
four     r
five     a
dtype: object

['k' 'a' 's' 'r' 'a']

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [11]:
dict = {'a':2,'b':4,'c':6}
se = pd.Series(dict)
print(se)

a    2
b    4
c    6
dtype: int64

In [21]:
data = np.array(['k','a','s','r','a'])
se = pd.Series(data,index=['one','two','three','four','five'])
print(se[3])
print(se[:3])
print(se['two'])

r
one      k
two      a
three    s
dtype: object
a

In [25]:
data = np.array(['k','a','s','r','a'])
se = pd.Series(data,index=['one','two','three','four','five'])
print(se.loc['one'])
print(se.iloc[1])
print(se.iloc[:2])

k
a
one    k
two    a
dtype: object

In [29]:
mylist = ["kasra","nikshabani","stock","kite"]
df = pd.DataFrame(mylist,index=['one','two','three','four'])
df

                0
one         kasra
two    nikshabani
three       stock
four         kite